  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/public/js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/plugins.js"></script>
    <script src="/public/js/main.js"></script>
    {{range .moreScripts}}
      <script src="/public/js/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
  </body>
</html>
